
env

.idea

/node_modules
**/.DS_Store
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/js/ws-init.js
public/js/websocket.js
/.vs/mindnation/v17/.suo
/.vs/slnx.sqlite
/.vs/mindnation
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
public/mix-manifest.json
public/js/web-chat.js
public/js/chat-bubble.js
